@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #b3e5ff;
    padding: 1rem;
}

#app {
    height: 100%
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    cursor: crosshair;
    background-color: white;
    margin-bottom: 1rem;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 32px;
    border-radius: 5px;
    position: relative;
    background-color: #4d99bf;
    box-shadow: 0 6px #336680;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

button:hover {
    box-shadow: 0 4px #336680;
    top: 2px;
}

button:active {
    box-shadow: 0 0 #336680;
    top: 6px;
}

button.action {
    background-color: orangered;
}

input {
    font-size: 1rem;
    padding: 14px;
    border-radius: 5px;
    border: 3px solid #4d99bf;
    box-shadow: 0 2px #336680;
    text-transform: uppercase;
}

input::placeholder {
    color: rgb(139, 139, 139);
}

input:focus {
    outline: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.settings {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.toolbar {
    display: flex;
    /*justify-content: space-between;*/
    gap: 0.5rem;
    max-width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.color {
    width: 48px;
    height: 48px;
}

.color.blue {
    background-color: blue;
}

.color.green {
    background-color: green;
}

.color.red {
    background-color: red;
}

.color.black {
    background-color: black;
}

.modal {
    padding: 1rem;
}

.word-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}

.word-list > button {
    width: 100%;
}